<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>Registrar administrativo</h2>
	<form method = "POST">
		<table>
			<tr>
				<td>
					Usuario <input type = "text" name = "nombreUsuario" />
				</td>
				<td>
					Password <input type = "password" name = "password" />
				</td>
			</tr>
				
			<tr>	
				<td>
					Nombre <input type = "text" name = "nombre" />
				</td>
				<td>
					Direccion <input type = "text" name = "direccion" />
				</td>
				<td>
					Sector <input type = "text" name = "sector" />
				</td>
				
	
			</tr>
			<tr>
				<td>
					<input type = "submit" name = "enviar" value = "Enviar" />
				</td>
			</tr>
		</table>
	</form>
	
</body>
</html>